<!-- Modal layout -->
    <div class="modal">
        {{!-- <div class="modal__overlay"> --}}

            <div class="modal__body">
                
                <!-- Login form -->
                <div id="login-form" class="auth-form">
                    <div class="auth-form__container">
                         <form action="" method="POST" class="form" id="login-form-item">
                            <h3 class="heading">Đăng nhập</h3>
                            <p class="desc">Chào mừng bạn đến với Bookstore</p>
                            <span class="close-modal">&times;</span>
                            <div class="spacer"></div>
                        
                            <div class="form-group">
                                <label for="username" class="form-label">Tên đầy đủ</label>
                                <input id="username" name="username" rules="required" type="text" placeholder="Nhập tên đăng nhập" class="form-control">
                                <span class="form-message"></span>
                            </div>
                        
                            <div class="form-group">
                                <label for="password" class="form-label">Mật khẩu</label>
                                <input id="password" name="password" rules="required|min:6" type="password" placeholder="Nhập mật khẩu" class="form-control">
                                <span class="form-message"></span>
                            </div>
                        
                            
                        
                            <button class="form-submit">Đăng nhập</button>
                            </form>

                        <div class="auth-form__aside">
                            <div class="auth-form__help">
                                <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                                <span class="auth-form__help-separate"></span>
                                <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                            </div>
                        </div>
                    </div>

                    <div class="auth-form__socials">
                        <a href="" class="home-filter__btn btn auth-form__socials--facebook btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                            <span class="auth-form__socials-title">
                                Đăng nhập với Facebook
                            </span>
                        </a>
                        <a href="" class="home-filter__btn btn auth-form__socials--google btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fab fa-google"></i>
                            <span class="auth-form__socials-title">
                                Đăng nhập với Google
                            </span>
                        </a>
                    </div>
                </div>  
                
                <div class="main-register grid wide">

                    <form action="" method="POST" class="form" id="register-form-item">
                    <h3 class="heading">Đăng ký thành viên</h3>
                    <p class="desc">Vui lòng điền đầy đủ thông tin</p>
                    <span class="close-modal">&times;</span>
                    <div class="spacer"></div>

                
                        <div class="row sm-gutter form-container">
                        
                        <div class="col l-6">
                            <div class="form-group">
                            <label for="fullname-register" class="form-label">Họ và tên:</label>
                            <input id="fullname-register" name="fullname-register" rules="required" type="text" placeholder="VD: Lê Ngọc Linh" class="form-control">
                            <span class="form-message"></span>
                            </div>

                            <div class="form-group">

                            <div class="radio-container">
                                <label for="gender-register" class="form-label">Giới tính:</label>

                                <div class="form-check-inline">
                                <input id="gender-male" name="gender-register" type="radio" class="form-control" value="male" checked="">
                                <label for="gender-male">Nam</label>
                                </div>
                                
                                <div class="form-check-inline">
                                <input id="gender-female" name="gender-register" type="radio" class="form-control" value="female">
                                <label for="gender-female">Nữ</label>
                                </div>

                                <div class="form-check-inline">
                                <input id="gender-other" name="gender-register" type="radio" class="form-control" value="other">
                                <label for="gender-other">Khác</label>
                                </div>
                            </div>

                            </div>

                            <div class="form-group">
                            <label for="birthday-register" class="form-label">Ngày sinh:</label>
                            <input id="birthday-register" name="birthday-register" rules="required" type="date" class="form-control">
                            <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                            <label for="address-register" class="form-label">Địa chỉ:</label>
                            <textarea name="address-register" id="address-register" rules="required" cols="20" rows="30" class="form-control">Vui lòng nhập địa chỉ đầy đủ.</textarea>
                            <span class="form-message"></span>
                            </div>

                        </div>

            
                        <div class="col l-6">

                            <div class="form-group">
                            <label for="phone-register" class="form-label">Số điện thoại:</label>
                            <input id="phone-register" name="phone-register" rules="required|min:10" type="text" placeholder="VD: 0909090909" class="form-control">
                            <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                            <label for="email-register" class="form-label">Email:</label>
                            <input id="email-register" name="email-register" rules="required|email" type="text" placeholder="VD: email@domain.com" class="form-control">
                            <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                            <label for="username-register" class="form-label">Tên đăng nhập:</label>
                            <input id="username-register" name="username-register" rules="required" type="text" placeholder="Nhập tên đăng nhập" class="form-control">
                            <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                            <label for="password-register" class="form-label">Mật khẩu:</label>
                            <input id="password-register" name="password-register" rules="required|min:6" type="password" placeholder="Nhập mật khẩu" class="form-control">
                            <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                            <label for="avatar-register" class="form-label">Ảnh đại diện:</label>
                            <input id="avatar-register" name="avatar-register" rules="required" type="file" accept="image/png, image/jpeg" class="form-control">
                            <span class="form-message"></span>
                            </div>

                        </div>
                        <div class="auth-form__aside">
                            <p class="auth-form__policy-text">
                                Bằng việc đăng ký, bạn đã đồng ý với F8-Shop về
                                <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a> & 
                                <a href="" class="auth-form__text-link">Chính sách bảo mật.</a>

                            </p>
                            </div>
                        <button class="form-submit">Đăng ký</button>
                        <div class="auth-form__aside">
                            <p class="auth-form__policy-text">
                                Bạn đã có tài khoản?
                                <a href="" class="auth-form__text-link login-btn">Đăng nhập ngay.</a> 
                            </p>
                        </div>
                        </div>


                    </form>
                
                
                </div>

            </div>
        {{!-- </div> --}}
    </div>

    <script src="/js/validator.js"></script>
    <script>
          //Mong muốn
         var form = new Validator("#login-form-item");

         form.onSubmit = function (formData) {
           console.log(formData);
         }
          
    </script>
    <script>
        var closeBtn = document.querySelectorAll('.close-modal');
        var modal = document.querySelector('.modal');
        var loginForm = document.querySelector('#login-form');
        var registerForm = document.querySelector('.main-register');

     

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        closeBtn[0].onclick = function(event) {
            modal.style.display = 'none';
            document.querySelector('.main-register').style.display = 'none';
        }
        closeBtn[1].onclick = function() {
            modal.style.display = 'none';
            document.querySelector('.main-register').style.display = 'none';
        }
    </script>
