<footer class="footer">
            <div class="grid wide footer__content">
                <div class="services">
                    <div class="row">
                        <div class="l-3 service_item">
                            <i class="fa fa-truck service_icon-reverse"></i>
                            <p>
                                Giao hàng miễn phí toàn quốc
                            </p>
                        </div>
                        <div class="l-3 service_item">
                            <i class="fas fa-book service_icon"></i>
                            <p>
                                Cam kết sách bản quyền 100%
                            </p>
                        </div>
                        <div class="l-3 service_item">
                            <i class="fas fa-box service_icon"></i>
                            <p>
                                Đổi trả hàng trong vòng 7 ngày
                            </p>
                        </div>
                        <div class="l-3 service_item">
                            <i class="fas fa-hand-holding-usd service_icon-reverse"></i>
                            <p>
                                Hoàn tiền 100% cho sản phẩm lỗi
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item_link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item_link">Nhà sách Bookstore</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item_link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item_link">Giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item_link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item_link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="footer__heading">Liên kết</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item_link">Sách mới</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item_link">Sách bán chạy</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item_link">Sách khuyến mãi</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item_link">Bookstore khuyên đọc</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="footer__heading">Theo dõi chúng tôi</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item_link">
                                    <i class="footer-item__icon fab fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item_link">
                                    <i class="footer-item__icon fab fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item_link">
                                    <i class="footer-item__icon fab fa-linkedin"></i>
                                    Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-8 c-12">
                        <h3 class="footer__heading">Kết nối với chúng tôi</h3>
                        <div class="footer__connect">
                            <p class="footer-item_link">Địa chỉ: Phường Xuân Khánh, quận Ninh Kiều, thành phố Cần Thơ.</p>
                            <p class="footer-item_link">SĐT: 0388591184</p>
                            <p class="footer-item_link">Email: linhb1805695@student.ctu.edu.vn</p>
                            <img src="./assets/img/qr_code.png" alt="" class="footer__download-qr">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="grid wide">
                    <p class="footer__text">© 2021 - Bản quyền thuộc về Bookstore</p>
                </div>
            </div>
        </footer>

        <div class="turn__up">
            <a href="#header__navbar"><i class="fas fa-arrow-circle-up"></i></a>
        </div>