<header class="header">
            <div class="grid wide">
                <nav id="header__navbar" class="header__navbar hide-on-mobile-tablet">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--has-qr header__navbar-item--separate">
                            Nhập mã bookstore để giảm 10% cho đơn hàng từ 150k!
                        </li>
                        <li class="header__navbar-item">
                            <span class="header__navbar-title--no-pointer">Kết nối</span>
                            <a href="" class="header_navbar-icon-link">
                                <i class="fab fa-facebook header__navbar-icon"></i>
                            </a>
                            <a href="" class="header_navbar-icon-link">
                                <i class="fab fa-instagram header__navbar-icon"></i>
                            </a>
                        </li>
                    </ul>
    
                    <ul class="header__navbar-list">
                        {{#if userId}}
                            <li class="header__navbar-item header__navbar-item--has-notify">
                                <a href="" class="header__navbar-item-link">
                                    <i class="far fa-bell header__navbar-icon"></i>
                                    Thông báo
                                </a>
                                <div class="header__notify">
                                    <header class="header__notify-header">
                                        <h3>Thông báo mới nhận</h3>
                                    </header>
                                    <ul class="header__notify-list">
                                        <li class="header__notify-item header__notify-item--view">
                                            <a href="" class="header__notify-link">
                                                <img src="/img/products/product1.jpg" alt="" class="header__notify-img">
                                                <div class="header__notify-info">
                                                    <span class="header__notify-name">Sách mới nhất</span>
                                                    <span class="header__notify-description">Sách mới cập nhật tháng 11</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="header__notify-item">
                                            <a href="" class="header__notify-link">
                                                <img src="/img/products/product1.jpg" alt="" class="header__notify-img">
                                                <div class="header__notify-info">
                                                    <span class="header__notify-name">Sách mới nhất</span>
                                                    <span class="header__notify-description">Sách mới cập nhật tháng 11</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="header__notify-item">
                                            <a href="" class="header__notify-link">
                                                <img src="/img/products/product1.jpg" alt="" class="header__notify-img">
                                                <div class="header__notify-info">
                                                    <span class="header__notify-name">Sách mới nhất</span>
                                                    <span class="header__notify-description">Sách mới cập nhật tháng 11</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="header__notify-footer">
                                        <a href="" class="header__notify-footer-btn">Xem tất cả</a>
                                    </div>
                                </div>
                            </li>
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-item-link">
                                    <i class="far fa-question-circle header__navbar-icon"></i>
                                    Trợ giúp
                                </a>
                            </li>
                            <li class="header__navbar-item header__navbar-user">
                                <img src="{{userAvatar}}" alt="" class="header__navbar-user-img">
                                <span class="header__navbar-user-name">{{userName}}</span>
                                <ul class="header__navbar-user-menu">
                                    <li class="header__navbar-user-item">
                                        <a href="">Tài khoản của tôi</a>
                                    </li>
                                    <li class="header__navbar-user-item">
                                        <a href="">Địa chỉ của tôi</a>
                                    </li>
                                    <li class="header__navbar-user-item">
                                        <a href="">Đơn mua</a>
                                    </li>
                                    <li class="header__navbar-user-item header__navbar-user-item--separate">
                                        <a href="/auth/logout">Đăng xuất</a>
                                    </li>
                                </ul>
                            </li>
                        {{else}}
                            <li id="register-btn" class="header__navbar-item header__navbar-item--strong header__navbar-item--separate">Đăng ký</li>
                            <li id="login-btn" class="header__navbar-item header__navbar-item--strong login-btn">Đăng nhập</li>
                            <li class="header__navbar-item"></li>
                            <li class="header__navbar-item"></li>
                            <li class="header__navbar-item"></li>
                        {{/if}}
                        

                    </ul>   
                </nav>

                <!-- Header with search -->
                <div class="header-with-search">
                    <div class="header__logo hide-on-tablet">
                        <a href="/" class="header__logo-link">
                            <img class="header__logo-img" src="/img/logo_bookstore2.svg" alt="logo">
                        </a>
                    </div>

                    <input type="checkbox" hidden id="mobile-search-checkbox" class="header__search-checkbox">

                    <div class="header__search">

                        <div class="header__search-input-wrap">
                            <input type="text" class="header__search-input" placeholder="Tìm kiếm">

                            <!-- Search history -->
                            <div class="header__search-history">
                                <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                                <ul class="header__search-history-list">
                                    {{!-- <li class="header__search-history-item">
                                        <a href="">Kem dưỡng da</a>
                                    </li>
                                    <li class="header__search-history-item">
                                        <a href="">Kem trị mụn</a>
                                    </li> --}}
                                    
                                </ul>
                            </div>
                        </div>

                        <div class="header__search-select">
                            <span class="header__search-select-label">All</span>
                            <i class="header__search-select-icon fas fa-chevron-down"></i>
                            
                            <ul class="header__search-option">
                                <li class="header__search-option-item header__search-option-item--active">
                                    <span>All</span>
                                    <i class="fas fa-check"></i>
                                </li>
                                <li class="header__search-option-item">
                                    <span>Theo tên sách</span>
                                    <i class="fas fa-check"></i>
                                </li>
                                <li class="header__search-option-item">
                                    <span>Theo tên tác giả</span>
                                    <i class="fas fa-check"></i>
                                </li>
                            </ul>
                        </div>
                        <button class="header__search-btn">
                            <i class="header__search-btn-icon fas fa-search"></i>
                        </button>
                    </div>

                    <!-- Cart -->
                    <div class="header__cart">
                        <div class="header__cart-wrap">
                            <i class="header__cart-icon fas fa-shopping-cart"></i>
                            <span class="header__cart-notice">0</span>

                            <!-- No cart: header__cart-list--no-cart -->
                            <div class="header__cart-list">
                                <div class="header__cart-no-cart">
                                    <img src="/img/no_cart.png" alt="" class="header__cart-no-cart-img">
                                    <span class="header__cart-list-no-cart-msg">
                                        Chưa có sản phẩm
                                    </span>
                                </div>

                                <div class="header__cart-have-prod" style="display: none;">
                                    <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                                    <ul class="header__cart-list-item">
                                        <!-- Cart item -->
                                        <li class="header__cart-item">
                                            <img src="/img/products/product1.jpg" alt="" class="header__cart-img">
                                            <div class="header__cart-item-info">
                                                <div class="header__cart-item-head">
                                                    <h5 class="header__cart-item-name">Áo Thun nam Tay Lỡ  Form rộng TRUTH</h5>
                                                    <div class="header__cart-item-price-wrap">
                                                        <span class="header__cart-item-price">55.000đ</span>
                                                        <span class="header__cart-item-multiply">x</span>
                                                        <span class="header__cart-item-qnt">2</span>
                                                    </div>
                                                </div>
                                                <div class="header__cart-item-body">
                                                    <span class="header__cart-item-description">Phân loại: Xanh lá</span>
                                                    <span class="header__cart-item-remove">Xóa</span>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="header__cart-item">
                                            <img src="/img/products/product1.jpg" alt="" class="header__cart-img">
                                            <div class="header__cart-item-info">
                                                <div class="header__cart-item-head">
                                                    <h5 class="header__cart-item-name">Áo thun nam TinoFun thể thao cổ tròn đẹp tay dài mã TT53 phong cách Hàn Quốc form rộng co giãn tay lỡ mùa hè thu</h5>
                                                    <div class="header__cart-item-price-wrap">
                                                        <span class="header__cart-item-price">99.000đ</span>
                                                        <span class="header__cart-item-multiply">x</span>
                                                        <span class="header__cart-item-qnt">1</span>
                                                    </div>
                                                </div>
                                                <div class="header__cart-item-body">
                                                    <span class="header__cart-item-description">Phân loại: Xanh dương</span>
                                                    <span class="header__cart-item-remove">Xóa</span>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="header__cart-item">
                                            <img src="/img/products/product1.jpg" alt="" class="header__cart-img">
                                            <div class="header__cart-item-info">
                                                <div class="header__cart-item-head">
                                                    <h5 class="header__cart-item-name">Áo thun nam TinoFun cổ tròn đẹp tay dài mã TT52 phong cách Hàn Quốc form rộng tay lỡ co giãn mùa hè thu</h5>
                                                    <div class="header__cart-item-price-wrap">
                                                        <span class="header__cart-item-price">109.000đ</span>
                                                        <span class="header__cart-item-multiply">x</span>
                                                        <span class="header__cart-item-qnt">1</span>
                                                    </div>
                                                </div>
                                                <div class="header__cart-item-body">
                                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                                    <span class="header__cart-item-remove">Xóa</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="header__cart-view-cart btn btn--primary">Xem giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="main__menu">
                    <ul class="category__menu">
                        <li class="category__menu-item"><a href="./" class="category__menu-link">Trang chủ</a></li>
                        <li class="category__menu-item"><a href="./products" class="category__menu-link">Sản phẩm</a></li>
                        <li class="category__menu-item"><a href="./contact" class="category__menu-link">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </header>
        
        <script>
            var register = document.querySelector('#register-btn');
            var login = document.querySelector('#login-btn');

            if (register!=null && login !=null) {

            login.onclick = function () {
                document.querySelector('.modal').style.display = 'flex';
                document.querySelector('.main-register').style.display = 'none';
                document.querySelector('#login-form').style.display = 'block';

            };

            
            register.onclick = function () {
                document.querySelector('.main-register').style.display = 'flex';

                document.querySelector('.modal').style.display = 'block';
                document.querySelector('.modal').style.position = 'absolute';
                document.querySelector('.modal').style.height = '1500px';

                document.querySelector('#login-form').style.display = 'none';
            };

            window.onclick = function(event) {
                if (event.target == document.querySelector('.modal')) {
                    document.querySelector('.modal').style.display = "none";
                }
            }
            }
        
        </script>

<script>
    !async function() {

        const cartContainer = document.querySelector('.header__cart-list-item');
        const noCartContainer = document.querySelector('.header__cart-no-cart');
        const outterCard = document.querySelector('.header__cart-have-prod');
        const cardNotice = document.querySelector('.header__cart-notice');

        let dataCart = await fetch("http://localhost:3000/api/cart/session")
            .then(response => response.json())
            .then(data => {
                return data;
            })
            .catch(error => {
                console.log(error);
            });

        let numCardNotice = 0;
        let cartHTML = dataCart.Books.map(element => {

            numCardNotice+=1;
            /* let imgcart = dataBooks.find(book => {    
                
                if(book.bookId === element.bookId) {
                    return book;
                };
            });
           
            let imgPath = '/img/products/product1.jpg';
            if (imgcart.Images.length > 0 ) imgPath = imgcart.Images[0].path;
            let percentDiscount = calPercent(element.coverPrice, element.price);*/
            return  `
                <li class="header__cart-item">
                    <img src="/img/products/product1.jpg" alt="Product image" class="header__cart-img">
                    <div class="header__cart-item-info">
                        <div class="header__cart-item-head">
                            <h5 class="header__cart-item-name">${element.bookName}</h5>
                            <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">${element.price}</span>
                                <span class="header__cart-item-multiply">x</span>
                                <span class="header__cart-item-qnt">${element.BookCart.quantity}</span>
                            </div>
                        </div>
                        <div class="header__cart-item-body">
                            <span class="header__cart-item-description">Phân loại: ${element.language}</span>
                            <span class="header__cart-item-remove">Xóa</span>
                        </div>
                    </div>
                </li>
            `
        }).join('');
        
        console.log(cartHTML);
        noCartContainer.style.display = 'none';
        outterCard.style.display = 'block';
        cartContainer.innerHTML = cartHTML;
        cardNotice.innerHTML = numCardNotice;

    }();
</script>