<div class="main-register grid wide">
  <div class="row sm-gutter form-container">
    <div id="add-book-form" class="auth-form">
                    <div class="auth-form__container">
                         <form action="" method="POST" class="form" id="add-book-form-item">
                            <h3 class="heading">Đăng nhập</h3>
                            <p class="desc">Chào mừng bạn đến với Bookstore</p>
                            <span class="close-modal">&times;</span>
                            <div class="spacer"></div>

                        <div class="col l-6">
                            <div class="form-group">
                                <label for="tensach" class="form-label">Tên sách:</label>
                                <input id="tensach" name="tensach" rules="required" type="text" placeholder="Nhập tên sách" class="form-control">
                                <span class="form-message"></span>
                            </div>
                        
                            <div class="form-group">
                                <label for="giabia" class="form-label">Giá bìa:</label>
                                <input id="giabia" name="giabia" rules="required" type="text" placeholder="VD: 100000." class="form-control">
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="giaban" class="form-label">Giá bán:</label>
                                <input id="giaban" name="giaban" rules="required" type="text" placeholder="VD: 90000." class="form-control">
                                <span class="form-message"></span>
                            </div>
                        
                            <div class="form-group">
                                <label for="tap" class="form-label">Tập:</label>
                                <input id="tap" name="tap" type="text" placeholder="VD: 1." class="form-control">
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="hinhthucbia" class="form-label">Hình thức bìa:</label>
                                <input id="hinhthucbia" name="hinhthucbia" rules="required" type="text" placeholder="VD: Bìa mềm." class="form-control">
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="ngonngu" class="form-label">Ngôn ngữ:</label>
                                <input id="ngonngu" name="ngonngu" type="text" placeholder="VD: Tiếng Việt." class="form-control">
                                <span class="form-message"></span>
                            </div>
                        
                            <div class="form-group">
                                <label for="sotrang" class="form-label">Số trang:</label>
                                <input id="sotrang" name="sotrang" type="text" placeholder="VD: 300." class="form-control">
                                <span class="form-message"></span>
                            </div>
                        </div>

                        <div class="col l-6">
                            <div class="form-group">
                                <label for="kichthuoc" class="form-label">Kích thước:</label>
                                <input id="kichthuoc" name="kichthuoc" rules="required" type="text" placeholder="VD: 20 x 13cm." class="form-control">
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="namxuatban" class="form-label">Năm xuất bản:</label>
                                <input id="namxuatban" name="namxuatban" type="text" placeholder="VD: 2020." class="form-control">
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="tacgia" class="form-label">Tác giả:</label>
                                <span id="input-tg"></span>
                    
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="namxuatban" class="form-label">Nhà xuất bản:</label>

                                <select name="nhaxuatban" id="input-nxb">

                                </select>
                                
                                <span class="form-message"></span>
                            </div>
                        
                            <div class="form-group">
                                <label for="mota" class="form-label">Mô tả:</label>
                                <textarea id="mota" name="mota" type="text" placeholder="Nhập mô tả sách" class="form-control"></textarea>
                                <span class="form-message"></span>
                            </div>
                        </div>
                            <button type="reset">Làm lại</button>
                            <button class="form-submit">Thêm</button>
                            </form>
                    </div>

                    
              </div>  
    </div>
</div>  
    {{!-- <div class="main-register grid wide">

        <div class="form-add-book">
            <form method="POST" action="">
                <table>
                    <tr>
                        <th> Tên sách: </th>
                        <td><input name="tensach" type="text"></td>
                    </tr>
                    <tr>
                        <th> Giá bìa: </th>
                        <td><input name="giabia" type="text"></td>
                    </tr>
                    <tr>
                        <th> Giá bán: </th>
                        <td><input name="giaban" type="text"></td>
                    </tr>
                    <tr>
                        <th> Tập: </th>
                        <td><input name="tap" type="text"></td>
                    </tr>
                    <tr>
                        <th> Hình thức bìa: </th>
                        <td><input name="hinhthucbia" type="text"></td>
                    </tr>
                    <tr>
                        <th> Ngôn ngữ: </th>
                        <td><input name="ngonngu" type="text"></td>
                    </tr>
                    <tr>
                        <th> Số trang: </th>
                        <td><input name="sotrang" type="text"></td>
                    </tr>
                    <tr>
                        <th> Kích thước: </th>
                        <td><input name="kichthuoc" type="text"></td>
                    </tr>
                    <tr>
                        <th> Năm xuất bản: </th>
                        <td><input name="namxuatban" type="text"></td>
                    </tr>
                    <tr>
                        <th> Mô tả sản phẩm: </th>
                        <td><input name="mota_sach" type="text"></td>
                    </tr>
                    <tr>
                        <th> Tác giả: </th>
                        <td id="input-tg">
                            
                        </td>
                    </tr>
                    <tr>
                        <th> Nhà xuất bản: </th>
                        <td>
                            <select name="nhaxuatban" id="input-nxb">

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <button type="reset">Làm lại</button>
                        <button type="submit">Thêm</button>
                    </tr>
                </table>
            </form>
        </div>

      
      
    </div> --}}
<script>

    Promise.all([
        fetch("http://localhost:3000/data/author"),
        fetch("http://localhost:3000/data/publisher"),
    ]).then(([author, publisher]) => {
        author.json()
            .then(data => {
                const tacgiaHTML = data.map((tacgia, index) => {
                    return `
                        <input id="tacgia" name="tacgia[]" rules="required" type="checkbox" class="form-control" value="${tacgia.ID_TACGIA}">${tacgia.TEN_TACGIA};
                        `
                })
                document.querySelector('#input-tg').innerHTML = tacgiaHTML.join('');
            });
            
        publisher.json()
            .then(data => {
                const nxbHTML = data.map((nxb, index) => {
                    return `
                        <option value="${nxb.ID_NHAXUATBAN}">${nxb.TEN_NHAXUATBAN}</option>
                    `
                })
                document.querySelector('#input-nxb').innerHTML = nxbHTML.join('');
            });
        
    }).catch((err) => {
        console.log(err);
    });

</script>