
    <div class="grid wide">
        <div class="row sm-gutter app__content">
            <div class="col l-3">
                <nav class="category">
                    <h3 class="category__heading">
                        <!-- <i class="category__heading-icon fas fa-list"></i> -->
                        Danh mục sản phẩm
                    </h3>
    
                    <ul class="category-list">
                        {{!-- category-item--active --}}
                        <li class="category-item"> 
                            <a href="" class="category-item__link">Sách kinh tế</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách văn học</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách kỹ năng sống</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách thiếu nhi</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách kiến thức bách khoa</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách ngoại văn</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col l-9">
                <div class="slideshow-container">

                      <div class="mySlides fade">
                            <a href="" class="mySlides-link"><img src="/img/banner/slideshow_1.jpg" style="width:100%"></a>
                      </div>
                     
                      <div class="mySlides fade">
                            <a href="" class="mySlides-link"><img src="/img/banner/slideshow_2.jpg" style="width:100%"></a>
                      </div>
                     
                      <div class="mySlides fade">
                            <a href="" class="mySlides-link"><img src="/img/banner/slideshow_3.jpg" style="width:100%"></a>
                      </div>
                    
                     
                    <div class="dot__slider">
                      <span class="dot" onclick="currentSlide(0)"></span> 
                      <span class="dot" onclick="currentSlide(1)"></span> 
                      <span class="dot" onclick="currentSlide(2)"></span> 
                    </div>
                </div>
            </div>

            
        </div>
        <div class="row no-gutter home__banner">
            <div class="home__promo col l-4">
                <a href="" class="home__promo-link">
                    <img src="/img/banner/banner_gif_sm.gif" alt="Home promo 1">
                </a>
            </div>

            <div class="home__promo col l-4">
                <a href="" class="home__promo-link">
                    <img src="/img/banner/banner_gif_kt.gif" alt="Home promo 2">
                </a>
            </div>

            <div class="home__promo col l-4">
                <a href="" class="home__promo-link">
                    <img src="/img/banner/banner_gif_cb.gif" alt="Home promo 3">
                </a>
            </div>

        </div>

        <div class="featuredProd__heading">
            <p>Sách bán chạy</p>
        </div>
        
        <div class="featuredProd__slide row no-gutter" id="bestSalerContainer">

            
        
        </div>
    </div>
    
    <!-- Sản phẩm nổi bật -->
    <div class="famousProd__container">

        <div class="famousProd__heading">
            <p>Sản phẩm nổi bật</p>
            <div class="famousProd__more">
                <a class="famousProd__more-heading" href="">Xem thêm</a>
                <i class="fas fa-arrow-alt-circle-right famousProd__more-icon"></i>
            </div>
        </div>

        <div class="grid wide">
            <div class="row sm-gutter">
                <div class="col l-3">
                    <a href="" class="famousProd__banner">
                        <img src="/img/banner/long_banner1.jpg" alt="famousProd__banner1">
                    </a>
                </div>
                <div class="col l-9 famousProd__items">
                    <div class="row sm-gutter" id="featuredContainer">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="childProd__container">

        <div class="famousProd__heading">
            <p>Chào mừng quốc tế thiếu nhi 1 tháng 6</p>
            <div class="famousProd__more">
                <a class="famousProd__more-heading" href="">Xem thêm</a>
                <i class="fas fa-arrow-alt-circle-right famousProd__more-icon"></i>
            </div>
        </div>

        <div class="grid wide">
            <div class="row sm-gutter">
                <div class="col l-3">
                    <a href="" class="famousProd__banner_s">
                        <img src="/img/banner/banner1.jpg" alt="famousProd__banner1">
                    </a>
                    <a href="" class="famousProd__banner_s">
                        <img src="/img/banner/banner1.jpg" alt="famousProd__banner1">
                    </a>
                </div>
                <div class="col l-9 famousProd__items">
                    <div class="row sm-gutter" id="childrenContainer">
                        
                    </div>
                </div>
                
            </div>
        </div>

    </div>

<script>
    var slideIndex;

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName('mySlides');
        var dots = document.getElementsByClassName('dot');
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = 'none';
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(' active', '');
        }

        slides[slideIndex].style.display = 'flex';
        dots[slideIndex].className += ' active';
        //chuyển đến slide tiếp theo
        slideIndex++;
        //nếu đang ở slide cuối cùng thì chuyển về slide đầu
        if (slideIndex > slides.length - 1) {
            slideIndex = 0;
        }
        //tự động chuyển đổi slide sau 5s
        setTimeout(showSlides, 5000);
    }
    //mặc định hiển thị slide đầu tiên
    showSlides((slideIndex = 0));

    function currentSlide(n) {
        showSlides((slideIndex = n));
    };

    !async function() {
        const bestSalerContainer = document.querySelector('#bestSalerContainer');
        
        let dataBooks = await fetch(host + "api/book")
            .then(response => response.json())
            .then(data => {
                return data;
            })
            .catch(error => {
                console.log(error);
            });

        function calPercent(coverPrice, price) {
            return parseInt((coverPrice/price)*100 - 100);
        }

        let bestSaler = await fetch(host + "api/category/name/S%C3%A1ch%20b%C3%A1n%20ch%E1%BA%A1y")
            .then(response => response.json())
            .then(data => {
                return data[0].Books;
            })
            .catch(error => {
            console.log(error);
            });

        let bestSalerHTML = bestSaler.map(element => {

             let imgBestSaler = dataBooks.find(book => {    
                
                if(book.bookId === element.bookId) {
                    return book;
                };
            });
           
            let imgPath = imgBestSaler.coverImage;
            let percentDiscount = calPercent(element.coverPrice, element.price);
            return  `
                <div class="slick__item">
                    <div class="slick__item-content">
                        <!-- Product item -->
                        <a href = "${host}api/book/detail/${element.bookId}" class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(${imgPath});"></div>
                            <h4 class="home-product-item__name">${element.bookName}</h4>
                            <div class="home-product-item__price">
                                <span class="home-product__price-old">${element.coverPrice}đ</span>
                                <span class="home-product__price-current">${element.price}đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__rating">
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="home-product-item__sold">88 đã bán</span>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__brand">${element.publishYear}</span>
                                <span class="home-product-item__origin-name">${element.language}</span>
                            </div>

                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Yêu thích</span>
                            </div>

                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">${percentDiscount}%</span>
                                <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>
                        </a>
                        
                    </div>
                </div>
            `
        }).join('');
        
        bestSalerContainer.innerHTML = bestSalerHTML;

        $(document).ready(function () {
            $('.featuredProd__slide').slick({
                slidesToShow: 5,
                slidesToScroll: 2,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
            });
        });


        // Sản phẩm nổi bật
        const featuredContainer = document.querySelector('#featuredContainer');

        let featured = await fetch(host + "api/category/name/S%C3%A1ch%20v%C4%83n%20h%E1%BB%8Dc")
            .then(response => response.json())
            .then(data => {
                return data[0].Books;
            })
            .catch(error => {
            console.log(error);
            });

        let featuredHTML = featured.map(element => {

             let imgFeatured = dataBooks.find(book => {    
                
                if(book.bookId === element.bookId) {
                    return book;
                };
            });
           
            let imgPath = imgFeatured.coverImage;
            let percentDiscount = calPercent(element.coverPrice, element.price);
            return  `
                <div class="col l-4 famousProd__item">
                    <a href = "${host}api/book/detail/${element.bookId}"><img src="${imgPath}" alt="Product image">
                    <p>${element.bookName}</p>
                    
                    <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">${percentDiscount}%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                    </div>

                    </a>
                    <div class="btn btn--primary">Mua ngay</div>
                </div>
            `
        }).join('');
        
        featuredContainer.innerHTML = featuredHTML;

        // Sách thiếu nhi
        const childrenContainer = document.querySelector('#childrenContainer');

        let children = await fetch(host + "api/category/name/S%C3%A1ch%20thi%E1%BA%BFu%20nhi")
            .then(response => response.json())
            .then(data => {
                return data[0].Books;
            })
            .catch(error => {
            console.log(error);
            });

        let childrenHTML = children.map(element => {

             let imgChildren = dataBooks.find(book => {    
                
                if(book.bookId === element.bookId) {
                    return book;
                };
            });
           
            let imgPath = element.coverImage;
            let percentDiscount = calPercent(element.coverPrice, element.price);
            return  `
                <div class="col l-4 famousProd__item">
                    <a href = "${host}api/book/detail/${element.bookId}"><img src="${imgPath}" alt="Product image">
                    <p>${element.bookName}</p>
                    
                    <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">${percentDiscount}%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                    </div>

                    </a>
                    <div class="btn btn--primary">Mua ngay</div>
                </div>
            `
        }).join('');
        
        childrenContainer.innerHTML = childrenHTML;
    }();

</script>