
    <div class="grid wide">
        <div class="row sm-gutter app__content">
            <div class="col l-3">
                <nav class="category">
                    <h3 class="category__heading">
                        <!-- <i class="category__heading-icon fas fa-list"></i> -->
                        Danh mục sản phẩm
                    </h3>
    
                    <ul class="category-list">
                        <li class="category-item category-item--active">
                            <a href="" class="category-item__link">Sách kinh tế</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách văn học</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách kỹ năng sống</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách thiếu nhi</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách kiến thức bách khoa</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách ngoại văn</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col l-9">
                <div class="slideshow-container">

                      <div class="mySlides fade">
                            <a href="" class="mySlides-link"><img src="/img/banner/slideshow_1.jpg" style="width:100%"></a>
                      </div>
                     
                      <div class="mySlides fade">
                            <a href="" class="mySlides-link"><img src="/img/banner/slideshow_2.jpg" style="width:100%"></a>
                      </div>
                     
                      <div class="mySlides fade">
                            <a href="" class="mySlides-link"><img src="/img/banner/slideshow_3.jpg" style="width:100%"></a>
                      </div>
                    
                     
                    <div class="dot__slider">
                      <span class="dot" onclick="currentSlide(0)"></span> 
                      <span class="dot" onclick="currentSlide(1)"></span> 
                      <span class="dot" onclick="currentSlide(2)"></span> 
                    </div>
                </div>
            </div>

            
        </div>
        <div class="row no-gutter home__banner">
            <div class="home__promo col l-4">
                <a href="" class="home__promo-link">
                    <img src="/img/banner/banner_gif_sm.gif" alt="Home promo 1">
                </a>
            </div>

            <div class="home__promo col l-4">
                <a href="" class="home__promo-link">
                    <img src="/img/banner/banner_gif_kt.gif" alt="Home promo 2">
                </a>
            </div>

            <div class="home__promo col l-4">
                <a href="" class="home__promo-link">
                    <img src="/img/banner/banner_gif_cb.gif" alt="Home promo 3">
                </a>
            </div>

        </div>

        <div class="featuredProd__heading">
            <p>Sách bán chạy</p>
        </div>
        
        <div class="featuredProd__slide row no-gutter">
            <div class="slick__item">
                <div class="slick__item-content">
                    <!-- Product item -->
                    <a href="#" class="home-product-item">
                        <div class="home-product-item__img" style="background-image: url(/img/products/product1.jpg);"></div>
                        <h4 class="home-product-item__name">Tôi không thích ồn ào</h4>
                        <div class="home-product-item__price">
                            <span class="home-product__price-old">65.000đ</span>
                            <span class="home-product__price-current">55.000đ</span>
                        </div>
                        <div class="home-product-item__action">
                            <span class="home-product-item__like home-product-item__like--liked">
                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                            </span>
                            <div class="home-product-item__rating">
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="home-product-item__sold">88 đã bán</span>
                        </div>
                        <div class="home-product-item__origin">
                            <span class="home-product-item__brand">Skybooks</span>
                            <span class="home-product-item__origin-name">NXB Hà Nội</span>
                        </div>

                        <div class="home-product-item__favourite">
                            <i class="fas fa-check"></i>
                            <span>Yêu thích</span>
                        </div>

                        <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="slick__item">
                <div class="slick__item-content">
                    <!-- Product item -->
                    <a href="#" class="home-product-item">
                        <div class="home-product-item__img" style="background-image: url(/img/products/product1.jpg);"></div>
                        <h4 class="home-product-item__name">Tôi không thích ồn ào</h4>
                        <div class="home-product-item__price">
                            <span class="home-product__price-old">65.000đ</span>
                            <span class="home-product__price-current">55.000đ</span>
                        </div>
                        <div class="home-product-item__action">
                            <span class="home-product-item__like home-product-item__like--liked">
                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                            </span>
                            <div class="home-product-item__rating">
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="home-product-item__sold">88 đã bán</span>
                        </div>
                        <div class="home-product-item__origin">
                            <span class="home-product-item__brand">Skybooks</span>
                            <span class="home-product-item__origin-name">NXB Hà Nội</span>
                        </div>

                        <div class="home-product-item__favourite">
                            <i class="fas fa-check"></i>
                            <span>Yêu thích</span>
                        </div>

                        <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="slick__item">
                <div class="slick__item-content">
                    <!-- Product item -->
                    <a href="#" class="home-product-item">
                        <div class="home-product-item__img" style="background-image: url(/img/products/product1.jpg);"></div>
                        <h4 class="home-product-item__name">Tôi không thích ồn ào</h4>
                        <div class="home-product-item__price">
                            <span class="home-product__price-old">65.000đ</span>
                            <span class="home-product__price-current">55.000đ</span>
                        </div>
                        <div class="home-product-item__action">
                            <span class="home-product-item__like home-product-item__like--liked">
                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                            </span>
                            <div class="home-product-item__rating">
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="home-product-item__sold">88 đã bán</span>
                        </div>
                        <div class="home-product-item__origin">
                            <span class="home-product-item__brand">Skybooks</span>
                            <span class="home-product-item__origin-name">NXB Hà Nội</span>
                        </div>

                        <div class="home-product-item__favourite">
                            <i class="fas fa-check"></i>
                            <span>Yêu thích</span>
                        </div>

                        <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="slick__item">
                <div class="slick__item-content">
                    <!-- Product item -->
                    <a href="#" class="home-product-item">
                        <div class="home-product-item__img" style="background-image: url(/img/products/product1.jpg);"></div>
                        <h4 class="home-product-item__name">Tôi không thích ồn ào</h4>
                        <div class="home-product-item__price">
                            <span class="home-product__price-old">65.000đ</span>
                            <span class="home-product__price-current">55.000đ</span>
                        </div>
                        <div class="home-product-item__action">
                            <span class="home-product-item__like home-product-item__like--liked">
                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                            </span>
                            <div class="home-product-item__rating">
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="home-product-item__sold">88 đã bán</span>
                        </div>
                        <div class="home-product-item__origin">
                            <span class="home-product-item__brand">Skybooks</span>
                            <span class="home-product-item__origin-name">NXB Hà Nội</span>
                        </div>

                        <div class="home-product-item__favourite">
                            <i class="fas fa-check"></i>
                            <span>Yêu thích</span>
                        </div>

                        <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="slick__item">
                <div class="slick__item-content">
                    <!-- Product item -->
                    <a href="#" class="home-product-item">
                        <div class="home-product-item__img" style="background-image: url(/img/products/product1.jpg);"></div>
                        <h4 class="home-product-item__name">Tôi không thích ồn ào</h4>
                        <div class="home-product-item__price">
                            <span class="home-product__price-old">65.000đ</span>
                            <span class="home-product__price-current">55.000đ</span>
                        </div>
                        <div class="home-product-item__action">
                            <span class="home-product-item__like home-product-item__like--liked">
                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                            </span>
                            <div class="home-product-item__rating">
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="home-product-item__sold">88 đã bán</span>
                        </div>
                        <div class="home-product-item__origin">
                            <span class="home-product-item__brand">Skybooks</span>
                            <span class="home-product-item__origin-name">NXB Hà Nội</span>
                        </div>

                        <div class="home-product-item__favourite">
                            <i class="fas fa-check"></i>
                            <span>Yêu thích</span>
                        </div>

                        <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="slick__item">
                <div class="slick__item-content">
                    <!-- Product item -->
                    <a href="#" class="home-product-item">
                        <div class="home-product-item__img" style="background-image: url(/img/products/product1.jpg);"></div>
                        <h4 class="home-product-item__name">Tôi không thích ồn ào</h4>
                        <div class="home-product-item__price">
                            <span class="home-product__price-old">65.000đ</span>
                            <span class="home-product__price-current">55.000đ</span>
                        </div>
                        <div class="home-product-item__action">
                            <span class="home-product-item__like home-product-item__like--liked">
                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                            </span>
                            <div class="home-product-item__rating">
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="home-product-item__sold">88 đã bán</span>
                        </div>
                        <div class="home-product-item__origin">
                            <span class="home-product-item__brand">Skybooks</span>
                            <span class="home-product-item__origin-name">NXB Hà Nội</span>
                        </div>

                        <div class="home-product-item__favourite">
                            <i class="fas fa-check"></i>
                            <span>Yêu thích</span>
                        </div>

                        <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="slick__item">
                <div class="slick__item-content">
                    <!-- Product item -->
                    <a href="#" class="home-product-item">
                        <div class="home-product-item__img" style="background-image: url(/img/products/product1.jpg);"></div>
                        <h4 class="home-product-item__name">Tôi không thích ồn ào</h4>
                        <div class="home-product-item__price">
                            <span class="home-product__price-old">65.000đ</span>
                            <span class="home-product__price-current">55.000đ</span>
                        </div>
                        <div class="home-product-item__action">
                            <span class="home-product-item__like home-product-item__like--liked">
                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                            </span>
                            <div class="home-product-item__rating">
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="home-product-item__sold">88 đã bán</span>
                        </div>
                        <div class="home-product-item__origin">
                            <span class="home-product-item__brand">Skybooks</span>
                            <span class="home-product-item__origin-name">NXB Hà Nội</span>
                        </div>

                        <div class="home-product-item__favourite">
                            <i class="fas fa-check"></i>
                            <span>Yêu thích</span>
                        </div>

                        <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="slick__item">
                <div class="slick__item-content">
                    <!-- Product item -->
                    <a href="#" class="home-product-item">
                        <div class="home-product-item__img" style="background-image: url(/img/products/product1.jpg);"></div>
                        <h4 class="home-product-item__name">Tôi không thích ồn ào</h4>
                        <div class="home-product-item__price">
                            <span class="home-product__price-old">65.000đ</span>
                            <span class="home-product__price-current">55.000đ</span>
                        </div>
                        <div class="home-product-item__action">
                            <span class="home-product-item__like home-product-item__like--liked">
                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                            </span>
                            <div class="home-product-item__rating">
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="home-product-item__sold">88 đã bán</span>
                        </div>
                        <div class="home-product-item__origin">
                            <span class="home-product-item__brand">Skybooks</span>
                            <span class="home-product-item__origin-name">NXB Hà Nội</span>
                        </div>

                        <div class="home-product-item__favourite">
                            <i class="fas fa-check"></i>
                            <span>Yêu thích</span>
                        </div>

                        <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="slick__item">
                <div class="slick__item-content">
                    <!-- Product item -->
                    <a href="#" class="home-product-item">
                        <div class="home-product-item__img" style="background-image: url(/img/products/product1.jpg);"></div>
                        <h4 class="home-product-item__name">Tôi không thích ồn ào</h4>
                        <div class="home-product-item__price">
                            <span class="home-product__price-old">65.000đ</span>
                            <span class="home-product__price-current">55.000đ</span>
                        </div>
                        <div class="home-product-item__action">
                            <span class="home-product-item__like home-product-item__like--liked">
                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                            </span>
                            <div class="home-product-item__rating">
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="home-product-item__sold">88 đã bán</span>
                        </div>
                        <div class="home-product-item__origin">
                            <span class="home-product-item__brand">Skybooks</span>
                            <span class="home-product-item__origin-name">NXB Hà Nội</span>
                        </div>

                        <div class="home-product-item__favourite">
                            <i class="fas fa-check"></i>
                            <span>Yêu thích</span>
                        </div>

                        <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="slick__item">
                <div class="slick__item-content">
                    <!-- Product item -->
                    <a href="#" class="home-product-item">
                        <div class="home-product-item__img" style="background-image: url(/img/products/product1.jpg);"></div>
                        <h4 class="home-product-item__name">Tôi không thích ồn ào</h4>
                        <div class="home-product-item__price">
                            <span class="home-product__price-old">65.000đ</span>
                            <span class="home-product__price-current">55.000đ</span>
                        </div>
                        <div class="home-product-item__action">
                            <span class="home-product-item__like home-product-item__like--liked">
                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                            </span>
                            <div class="home-product-item__rating">
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="home-product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="home-product-item__sold">88 đã bán</span>
                        </div>
                        <div class="home-product-item__origin">
                            <span class="home-product-item__brand">Skybooks</span>
                            <span class="home-product-item__origin-name">NXB Hà Nội</span>
                        </div>

                        <div class="home-product-item__favourite">
                            <i class="fas fa-check"></i>
                            <span>Yêu thích</span>
                        </div>

                        <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                        </div>
                    </a>
                    
                </div>
            </div>
            
        
        </div>
    </div>
    
    <!-- Sản phẩm nổi bật -->
    <div class="famousProd__container">

        <div class="famousProd__heading">
            <p>Sản phẩm nổi bật</p>
            <div class="famousProd__more">
                <a class="famousProd__more-heading" href="">Xem thêm</a>
                <i class="fas fa-arrow-alt-circle-right famousProd__more-icon"></i>
            </div>
        </div>

        <div class="grid wide">
            <div class="row sm-gutter">
                <div class="col l-3">
                    <a href="" class="famousProd__banner">
                        <img src="/img/banner/long_banner1.jpg" alt="famousProd__banner1">
                    </a>
                </div>
                <div class="col l-9 famousProd__items">
                    <div class="row sm-gutter">
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>
                            
                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>
                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>
                            
                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>
                            
                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>
                            
                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>
                            
                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>
                            
                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="childProd__container">

        <div class="famousProd__heading">
            <p>Chào mừng quốc tế thiếu nhi 1 tháng 6</p>
            <div class="famousProd__more">
                <a class="famousProd__more-heading" href="">Xem thêm</a>
                <i class="fas fa-arrow-alt-circle-right famousProd__more-icon"></i>
            </div>
        </div>

        <div class="grid wide">
            <div class="row sm-gutter">
                <div class="col l-3">
                    <a href="" class="famousProd__banner_s">
                        <img src="/img/banner/banner1.jpg" alt="famousProd__banner1">
                    </a>
                    <a href="" class="famousProd__banner_s">
                        <img src="/img/banner/banner1.jpg" alt="famousProd__banner1">
                    </a>
                </div>
                <div class="col l-9 famousProd__items">
                    <div class="row sm-gutter">
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>

                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>
                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>

                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>

                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>

                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>
                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>

                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>

                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>

                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>

                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                        <div class="col l-4 famousProd__item">
                            <a href=""><img src="/img/products/product1.jpg" alt="">
                            <p>Tôi không thích ồn ào</p>

                            <div class="home-product-item__sale-off">
                            <span class="home-product-item__sale-off-percent">43%</span>
                            <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>

                            </a>
                            <div class="btn btn--primary">Mua ngay</div>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
