<hr class="header-line">
<div class="container mt-4 order-container">
            <form class="needs-validation" action="/api/order" method="post">
                <input type="hidden" name="kh_tendangnhap" value="dnpcuong">

                <div class="py-5 text-center order-header">
                    <span>
                        <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                        <h2>Thanh toán</h2>
                    </span>
                    <p class="lead">Vui lòng kiểm tra thông tin đơn hàng trước khi đặt hàng</p>
                </div>

                <div class="row payment-order">
                    <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="mb-3 order-heading">Thông tin thanh toán</h4>
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted order-sub-heading">Sản phẩm</span>
                            <span class="badge badge-secondary badge-pill">1</span>
                        </h4>
                        <ul class="list-group mb-3">
                            <div class="cartList">

                            </div>
                            <li>
                                <input type="text" class="voucher form-control form-control-full" placeholder="Mã khuyến mãi">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn--primary">Xác nhận</button>
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between">
                                <span>Tổng thành tiền:</span>
                                <strong class="totalMoney"></strong>
                            </li>
                        </ul>


                        <div class="input-group">

                            <h4 class="mb-3 payment-heading">Hình thức thanh toán:</h4>

                            <div class="d-block my-3">
                                <form>
                                    
                                    <div class="cc-selector">
                                        <input id="shipcod" type="radio" name="payments" value="shipcod" />
                                        <label class="drinkcard-cc shipcod" for="shipcod"></label>

                                        <input id="visa" type="radio" name="payments" value="visa" />
                                        <label class="drinkcard-cc visa" for="visa"></label>

                                        <input id="mastercard" type="radio" name="payments" value="mastercard" />
                                        <label class="drinkcard-cc mastercard"for="mastercard"></label>
                                    </div>
                                </form>

                            </div>
                            <hr class="mb-4">

                            <button class="btn btn--primary btn-lg btn-block" type="submit" id="btnOrder">
                                 Đặt hàng
                            </button>
                        </div>

                    </div>
                    <div class="col-md-8 order-md-1">
                        <h4 class="mb-3 order-heading">Thông tin khách hàng</h4>

                        <div class="row customer-info">
                            
                        </div>

                    </div>
                </div>
            </form>
            
        
</div>

<script>
    !async function() {
        const customerInfo = document.querySelector('.customer-info');
        const cartList = document.querySelector('.cartList');

        let customer = await fetch(hostname + "api/customer/session")
            .then(response => response.json())
            .then(data => {
                return data;
            });
        console.log(customer)
        let customerInfoHTML = `
            <div class="col-md-12">
                <label for="kh_ten">Họ và tên:</label>
                <input type="text" class="form-control form-control-full" name="customerName" value="${customer.customerName}">
            </div>
            <div class="col-md-12">
                <label for="kh_gioitinh">Giới tính:</label>
                <input type="text" class="form-control form-control-full" name="gender" value="${customer.gender}">
            </div>
            <div class="col-md-12">
                <label for="kh_diachi">Địa chỉ:</label>
                <input type="text" class="form-control form-control-full" name="address" value="${customer.address}">
            </div>
            <div class="col-md-12">
                <label for="kh_dienthoai">Điện thoại:</label>
                <input type="text" class="form-control form-control-full" name="phoneNumber" value="${customer.phoneNumber}">
            </div>
            <div class="col-md-12">
                <label for="kh_email">Email:</label>
                <input type="text" class="form-control form-control-full" name="kh_email" value="${customer.email}">
            </div>
            <div class="col-md-12">
                <label for="kh_ngaysinh">Ngày sinh:</label>
                <input type="text" class="form-control form-control-full" name="birthday" value="${customer.birthday}">
            </div>
        `;
        customerInfo.innerHTML = customerInfoHTML;

        let dataCart = await fetch(hostname + "api/cart/session")
            .then(response => response.json())
            .then(data => {
                return data;
            })
            .catch(error => {
                console.log(error);
            });
        
        console.log(dataCart);
        let dataCartHTML = dataCart.Books.map(element => {
            let itemPrice = parseInt(element.price * element.BookCart.quantity);
            return `
                <input type="hidden" name="BookBookId[]" value="${element.bookId}">
                <input type="hidden" name="price" value="${element.price}">
                <input type="hidden" name="quantity[]" value="${element.BookCart.quantity}">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="order-product">
                        <h6 class="my-0">${element.bookName}</h6>
                        <small class="text-muted">${element.price} x 
                            <div class="QuantityInput__Wrapper">
                                <div class="group-input">
                                    <button class="QuantityInput_disable" id="btn-reduce-quantity" onclick="changeQuantity(-1)">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input type="text" value="${element.BookCart.quantity}" class="input-quantity">
                                    <button id="btn-increase-quantity" onclick="changeQuantity(1)">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </small>
                    </div>


                    <span class="text-muted into-money">${itemPrice}</span>
                </li>
            `
        }).join('');

        cartList.innerHTML = dataCartHTML;
        let intoMoney = document.querySelectorAll('.into-money');
        let totalPay = 0;
        intoMoney.forEach(element => {
            totalPay += parseInt(element.innerHTML);
        })

        document.querySelector('.totalMoney').innerHTML = totalPay;
        

    }();
</script>

