
<div class="app__container">
    <div class="grid wide">
        <div class="row sm-gutter app__content">
            <div class="col l-2-4 m-0 c-0">
                <nav class="products-category">
                    <h3 class="category__heading">
                        <!-- <i class="category__heading-icon fas fa-list"></i> -->
                        Danh mục
                    </h3>
    
                    <ul class="category-list">
                        <li class="category-item category-item--active">
                            <a href="" class="category-item__link">Áo thun nam</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Áo sơ mi nam</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Áo khoác nam</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Quần nam</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Giày nam</a>
                        </li>
                    </ul>
                </nav>
                <nav class="products-filter">

                    {{!-- Rating --}}
                    <div class="products-filter-container">
                        <h4 class="products-filter-heading">Đánh giá</h4>
                        <div class="rating-list">
                            <a href="" class="rating-list-item">
                                <p class="rating-list-star">
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                </p>
                                <span class="rating-list-item-text">
                                    Từ 5 sao
                                </span>
                            </a>
                            <a href="" class="rating-list-item">
                                <p class="rating-list-star">
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </p>
                                <span class="rating-list-item-text">
                                    Từ 4 sao
                                </span>
                            </a>
                            <a href="" class="rating-list-item">
                                <p class="rating-list-star">
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </p>
                                <span class="rating-list-item-text">
                                    Từ 3 sao
                                </span>
                            </a>
                        </div>

                    </div>

                    {{!-- Price --}}
                    <div class="products-filter-container">
                        <h4 class="products-filter-heading">Giá</h4>
                        <div class="block" data-view-id="search_filter_container" data-view-label="Giá">
                            <div class="fast-price-filter">
                                <div class="fast-price-filter-item"><span class="">Dưới 70.000</span></div>
                                <div class="fast-price-filter-item"><span class="">Từ 70.000 đến 120.000</span></div>
                                <div class="fast-price-filter-item"><span class="">Từ 120.000 đến 230.000</span></div>
                                <div class="fast-price-filter-item"><span class="">Trên 230.000</span></div></div>
                                <div class="price-small-text">Chọn khoảng giá</div>
                                <div class="price-input-group"><input pattern="[0-9]*" placeholder="Giá từ" value="0">
                                <span>-</span>
                                <input pattern="[0-9]*" placeholder="Giá đến" value="0"></div>
                                <button id="price-filter-btn" data-view-id="search_filter_submit_button">Áp dụng</button>
                        </div>
                    </div>

                    {{!-- Author --}}
                    <div class="products-filter-container">
                        <h4 class="products-filter-heading">Tác giả</h4>
                        <div class="products-filter-checkbox">
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Nhiều tác giả</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Nguyễn Nhật Ánh</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Nam Cao</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Nguyễn Ngọc Tư</p>
                            </div>
                        </div>
                    </div>

                    {{!-- Publisher --}}
                    <div class="products-filter-container">
                        <h4 class="products-filter-heading">Công ty phát hành</h4>
                        <div class="products-filter-checkbox">
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Nhã Nam</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>NXB Trẻ</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>AZ Việt Nam</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Đinh Tị</p>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col l-9-6 m-12 c-12">
                <div class="home-filter hide-on-mobile-tablet">
                    <span class="home-filter__label">Sắp xếp theo</span>
                    <button class="home-filter__btn btn">Phổ biến</button>
                    <button class="home-filter__btn btn btn--primary">Mới nhất</button>
                    <button class="home-filter__btn btn">Bán chạy</button>

                    <div class="select-input">
                        <span class="select-input__label">Giá</span>
                        <i class="select-input__icon fas fa-chevron-down"></i>

                        <!-- List option -->
                        <ul class="select-input__list">
                            <li class="select-input__item">
                                <a href="" class="select-input__link">Giá: Thấp đến cao</a>
                            </li>
                            <li class="select-input__item">
                                <a href="" class="select-input__link">Giá: Cao đến thấp</a>
                            </li>
                        </ul>

                    </div>

                    <div class="home-filter__page">
                        <span class="home-filter__page-num">
                            <span class="home-filter__page-current">1</span>/14
                        </span>

                        <div class="home-filter__page-control">
                            <a href="" class="home-filter__page-btn home-filter__page-btn--disable">
                                <i class="home-filter__page-icon fas fa-chevron-left"></i>
                            </a>
                            <a href="" class="home-filter__page-btn">
                                <i class="home-filter__page-icon fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <nav class="mobile-category">
                    <ul class="mobile-category__list">
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo thun nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo sơ mi nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo khoác nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Quần nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Phụ kiện nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Giày nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo thun nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo sơ mi nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo khoác nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Quần nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Phụ kiện nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Giày nam</a>
                        </li>
                    </ul>
                </nav>

                <div class="home-product">
                    <!-- Grid -> Row -> Column -->
                    <div class="row sm-gutter home-products-list">
                        {{#each rows}}
                            <div class="col l-2-4 m-4 c-6">
                                <!-- Product item -->
                                <a href="#" class="home-product-item">
                                    <div class="home-product-item__img" style="background-image: url(/img/products/product1.jpg);"></div>
                                    <h4 class="home-product-item__name">{{this.tensp}}</h4>
                                    <div class="home-product-item__price">
                                        <span class="home-product__price-old">{{this.giabia}}</span>
                                        <span class="home-product__price-current">{{this.giaban}}</span>
                                    </div>
                                    <div class="home-product-item__action">
                                        <span class="home-product-item__like home-product-item__like--liked">
                                            <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                            <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                        </span>
                                        <div class="home-product-item__rating">
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="home-product-item__sold">88 đã bán</span>
                                    </div>
                                    <div class="home-product-item__origin">
                                        <span class="home-product-item__brand">Who</span>
                                        <span class="home-product-item__origin-name">Nhật Bản</span>
                                    </div>

                                    <div class="home-product-item__favourite">
                                        <i class="fas fa-check"></i>
                                        <span>Yêu thích</span>
                                    </div>

                                    <div class="home-product-item__sale-off">
                                        <span class="home-product-item__sale-off-percent">43%</span>
                                        <span class="home-product-item__sale-off-label">GIẢM</span>
                                    </div>
                                </a>
                                
                            </div>
                        {{/each}}
                    </div>
                </div>

                <ul class="pagination home-product__pagination">
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="pagination-item pagination-item--active">
                        <a href="" class="pagination-item__link">1</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">2</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">3</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">4</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">5</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">...</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">14</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{!-- <div class="table">
    <form method="POST" action="">
        <table>
            <tr>
            <th> Tên sản phẩm: </th>
            <td><input name="tensp" type="text"></td>
        </tr>
        <tr>
            <th> Gia bìa: </th>
            <td><input name="giabia" type="text"></td>
        </tr>
        <tr>
            <th> Giá bán: </th>
            <td><input name="giaban" type="text"></td>
        </tr>
        <tr>
            <th> Hình thức bìa: </th>
            <td><input name="hinhthucbia" type="text"></td>
        </tr>
        <tr>
            <th> Số trang: </th>
            <td><input name="sotrang" type="text"></td>
        </tr>
        <tr>
            <th> Kích thước: </th>
            <td><input name="kichthuoc" type="text"></td>
        </tr>
        <tr>
            <th> Năm xuất bản: </th>
            <td><input name="namxuatban" type="text"></td>
        </tr>
        <tr>
            <th> Mô tả sản phẩm: </th>
            <td><input name="motasanpham" type="text"></td>
        </tr>
        <tr>
            <th> Khuyến mãi: </th>
            <td><input name="khuyenmai" type="text"></td>
        </tr>
        <tr>
            <th> Tác giả: </th>
            <td><input name="tacgia" type="text"></td>
        </tr>
        <tr>
            <th> Nhà cung cấp: </th>
            <td><input name="nhacungcap" type="text"></td>
        </tr>
        <button type="submit">Add</button>
        </table>
    </form>
</div> --}}
