
<div class="app__container">
    <div class="grid wide">

        
        <div class="navigation-menu">
            <div class="breadcrumb">
                <a class="breadcrumb-item" href="/"><span>Trang chủ</span></a>
                <span class="icon icon-next"><svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#808089" fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L6.35355 5.64645C6.54882 5.84171 6.54882 6.15829 6.35355 6.35355L1.35355 11.3536C1.15829 11.5488 0.841709 11.5488 0.646447 11.3536C0.451184 11.1583 0.451184 10.8417 0.646447 10.6464L5.29289 6L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z"></path></svg>
                </span>
                <a class="breadcrumb-item" href="/"><span>Sản phẩm</span></a>
                {{!-- <span class="icon icon-next"><svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#808089" fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L6.35355 5.64645C6.54882 5.84171 6.54882 6.15829 6.35355 6.35355L1.35355 11.3536C1.15829 11.5488 0.841709 11.5488 0.646447 11.3536C0.451184 11.1583 0.451184 10.8417 0.646447 10.6464L5.29289 6L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z"></path></svg></span>
                <a class="breadcrumb-item" href=""><span>Sách tiếng Việt</span></a>
                <span class="icon icon-next"><svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#808089" fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L6.35355 5.64645C6.54882 5.84171 6.54882 6.15829 6.35355 6.35355L1.35355 11.3536C1.15829 11.5488 0.841709 11.5488 0.646447 11.3536C0.451184 11.1583 0.451184 10.8417 0.646447 10.6464L5.29289 6L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z"></path></svg></span>
                <a href="#" class="breadcrumb-item"span title="Sách văn học">Sách văn học</span></a> --}}
            </div>
        </div>

        <div class="row sm-gutter app__content">
            <div class="col l-2-4 m-0 c-0">
                <nav class="products-category">
                    <h3 class="category__heading">
                        <!-- <i class="category__heading-icon fas fa-list"></i> -->
                        Danh mục
                    </h3>
    
                    <ul class="category-list">
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách kinh tế</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách văn học</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">sách kỹ năng sống</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách thiếu nhi</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách kiến thức bách khoa</a>
                        </li>
                        <li class="category-item">
                            <a href="" class="category-item__link">Sách ngoại văn</a>
                        </li>
                    </ul>
                </nav>
                <nav class="products-filter">

                    {{!-- Rating --}}
                    <div class="products-filter-container">
                        <h4 class="products-filter-heading">Đánh giá</h4>
                        <div class="rating-list">
                            <a href="" class="rating-list-item">
                                <p class="rating-list-star">
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                </p>
                                <span class="rating-list-item-text">
                                    Từ 5 sao
                                </span>
                            </a>
                            <a href="" class="rating-list-item">
                                <p class="rating-list-star">
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </p>
                                <span class="rating-list-item-text">
                                    Từ 4 sao
                                </span>
                            </a>
                            <a href="" class="rating-list-item">
                                <p class="rating-list-star">
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="rating-list-star-item fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </p>
                                <span class="rating-list-item-text">
                                    Từ 3 sao
                                </span>
                            </a>
                        </div>

                    </div>

                    {{!-- Price --}}
                    <div class="products-filter-container">
                        <h4 class="products-filter-heading">Giá</h4>
                        <div class="block" data-view-id="search_filter_container" data-view-label="Giá">
                            <div class="fast-price-filter">
                                <div class="fast-price-filter-item"><span class="">Dưới 70.000</span></div>
                                <div class="fast-price-filter-item"><span class="">Từ 70.000 đến 120.000</span></div>
                                <div class="fast-price-filter-item"><span class="">Từ 120.000 đến 230.000</span></div>
                                <div class="fast-price-filter-item"><span class="">Trên 230.000</span></div></div>
                                <div class="price-small-text">Chọn khoảng giá</div>
                                <div class="price-input-group"><input pattern="[0-9]*" placeholder="Giá từ" value="0">
                                <span>-</span>
                                <input pattern="[0-9]*" placeholder="Giá đến" value="0"></div>
                                <button id="price-filter-btn" data-view-id="search_filter_submit_button">Áp dụng</button>
                        </div>
                    </div>

                    {{!-- Author --}}
                    <div class="products-filter-container">
                        <h4 class="products-filter-heading">Tác giả</h4>
                        <div class="products-filter-checkbox">
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Nhiều tác giả</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Nguyễn Nhật Ánh</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Nam Cao</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Nguyễn Ngọc Tư</p>
                            </div>
                        </div>
                    </div>

                    {{!-- Publisher --}}
                    <div class="products-filter-container">
                        <h4 class="products-filter-heading">Công ty phát hành</h4>
                        <div class="products-filter-checkbox">
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Nhã Nam</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>NXB Trẻ</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>AZ Việt Nam</p>
                            </div>
                            <div class="products-filter-checkbox-item">
                                <input type="checkbox" name="" id="">
                                <p>Đinh Tị</p>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col l-9-6 m-12 c-12">
                <div class="home-filter hide-on-mobile-tablet">
                    <span class="home-filter__label">Sắp xếp theo</span>
                    <button class="home-filter__btn btn">Phổ biến</button>
                    <button class="home-filter__btn btn btn--primary">Mới nhất</button>
                    <button class="home-filter__btn btn">Bán chạy</button>

                    <div class="select-input">
                        <span class="select-input__label">Giá</span>
                        <i class="select-input__icon fas fa-chevron-down"></i>

                        <!-- List option -->
                        <ul class="select-input__list">
                            <li class="select-input__item">
                                <a href="" class="select-input__link">Giá: Thấp đến cao</a>
                            </li>
                            <li class="select-input__item">
                                <a href="" class="select-input__link">Giá: Cao đến thấp</a>
                            </li>
                        </ul>

                    </div>

                    <div class="home-filter__page">
                        <span class="home-filter__page-num">
                            <span class="home-filter__page-current">1</span>/14
                        </span>

                        <div class="home-filter__page-control">
                            <a href="" class="home-filter__page-btn home-filter__page-btn--disable">
                                <i class="home-filter__page-icon fas fa-chevron-left"></i>
                            </a>
                            <a href="" class="home-filter__page-btn">
                                <i class="home-filter__page-icon fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <nav class="mobile-category">
                    <ul class="mobile-category__list">
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo thun nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo sơ mi nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo khoác nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Quần nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Phụ kiện nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Giày nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo thun nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo sơ mi nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Áo khoác nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Quần nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Phụ kiện nam</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Giày nam</a>
                        </li>
                    </ul>
                </nav>

                <div class="home-product">
                    <!-- Grid -> Row -> Column -->
                    <div class="row sm-gutter home-products-list">
                           
                        
                    </div>
                </div>

                <ul class="pagination home-product__pagination">
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="pagination-item pagination-item--active">
                        <a href="" class="pagination-item__link">1</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">2</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">3</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">4</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">5</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">...</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">14</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    const bookItem = document.querySelector('.home-products-list');

    fetch(hostname + "api/book")
        .then(response => response.json())
        .then(data => {
            let html = data.map((book, index) => {
                return `
                    <div class="col l-2-4 m-4 c-6">
                        <!-- Product item -->
                        <a href="${hostname}api/book/detail/${book.bookId}" class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(${book.coverImage});"></div>
                            <h4 class="home-product-item__name">${book.bookName}</h4>
                            <div class="home-product-item__price">
                                <span class="home-product__price-old">${book.coverPrice}</span>
                                <span class="home-product__price-current">${book.price}</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__rating">
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="home-product-item__sold">88 đã bán</span>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__brand">${book.publishYear}</span>
                                <span class="home-product-item__origin-name">${book.language}</span>
                            </div>

                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Yêu thích</span>
                            </div>

                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">43%</span>
                                <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>
                        </a>
                    </div>
                `
            }).join('');

            bookItem.innerHTML = html;
        })

</script>
