    <div class="main-register grid wide">

          <div class="table">
    <form method="POST" action="">
        <table>
            <tr>
            <th> Tên sách: </th>
            <td><input name="tensach" type="text"></td>
        </tr>
        <tr>
            <th> Giá: </th>
            <td><input name="gia" type="text"></td>
        </tr>
        <tr>
            <th> Tap: </th>
            <td><input name="tap" type="text"></td>
        </tr>
        <tr>
            <th> Hình thức bìa: </th>
            <td><input name="hinhthucbia" type="text"></td>
        </tr>
        <tr>
            <th> Ngôn ngữ: </th>
            <td><input name="ngonngu" type="text"></td>
        </tr>
        <tr>
            <th> Số trang: </th>
            <td><input name="sotrang" type="text"></td>
        </tr>
        <tr>
            <th> Kích thước: </th>
            <td><input name="kichthuoc" type="text"></td>
        </tr>
        <tr>
            <th> Năm xuất bản: </th>
            <td><input name="namxuatban" type="text"></td>
        </tr>
        <tr>
            <th> Mô tả sản phẩm: </th>
            <td><input name="mota_sach" type="text"></td>
        </tr>
        <tr>
            <th> Tác giả: </th>
            <td id="input-tg">
                
            </td>
        </tr>
        <tr>
            <th> Nhà phát hành: </th>
            <td>
                
                <select name="nhaphathanh" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </td>
        </tr>
        <tr>
            <th> Nhà xuất bản: </th>
            <td>
                <select name="nhaxuatban" >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </td>
        </tr>
        <button type="submit">Add</button>
        </table>
    </form>
</div>

      
      
    </div>
<script>
    fetch('http://localhost:3000/data/author')
        .then(response => response.json())
        .then(data => {
          console.log(data);
            const tacgiaHTML = data.map((tacgia, index) => {
                return `
                    <input type="checkbox" name="tacgia[]" value="${tacgia.ID_TACGIA}">${tacgia.TEN_TACGIA}
                `
            })
            document.querySelector('#input-tg').innerHTML = tacgiaHTML.join('');
        })
    
</script>
      {{!-- <script src="js/validator.js"></script>
      <script>
          //Mong muốn
         var form = new Validator("#register-form-item")

         form.onSubmit = function (formData) {
           console.log(formData);
         }
          
      </script> --}}