<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Keywords</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Enter keywords...">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>